<div class="mainDiv">

  <div class="loginDiv">

    <p class="logRegText"> Login / Register </p>

    <div class="fieldsDiv">

      <form class="loginForm">

        <input class="emailField" type="text" placeholder="Email"/>

        <input class="passField" type="password" value="" placeholder="Password"/>

        <br/>

        <input class="loginButton" type="submit" value="Login"/>

        <br/>
        <input class="registerButton" type="submit" value="Register"/>

        <br/>
        <input class="adminLogin" type="submit" value="Login as Admin" routerLink="adminlog" (click)="redirectToAdminLogin()"/>

      </form>
    </div>

  </div>

</div>
