#operations-container{
    
    margin-left: 400px;
    margin-top: 200px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 400px;
    margin-bottom: 200px;
    height: max-content;
    width: max-content;
}

/* .emailField{

    margin-top: 10px;
    display: table-cell;
    // padding: 5px;
    width: 100%;
    box-sizing:border-box;
    padding: 10px 10px;
    border: solid lightgrey 1px;
//    border: none;
    // padding: 14px 40px;
    text-decoration: none;
    font-size: 16px;
} */

/* .passField{

     padding: 5px; */
    /* margin-bottom: 5px;
    width: 100%;
    padding: 10px 10px;
    display: table-cell;
    box-sizing:border-box;
    border: solid lightgray 1px; */
     /* background-color: #4CAF50; 
    // border: none;
    // border-radius: 5px;
    // color: white;
    // padding: 14px 40px;
    // text-align: center; */
    /* text-decoration: none;
    font-size: 16px; */



/* .logRegText{

    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #254d5f;
} */
/* .fieldsDiv{
    border: solid #254d5f 4px;
    padding: 5px;
    border-radius: 10px;
} */

.blood-operation
{
    text-align: center;
    
    
}
#container
{
/*     
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
 background: blueviolet; */
   
}
#container-for-text
{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width: 50%;
    height: 50px;
    border-radius: 10px;
    background: cadetblue; */
}
#selection-text{
    font-size: 37px;
    text-align: center;
    
    
}
.button{

    background-color: #4CAF50; 
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button:hover{
    color: #FFFF;
    background: #254d5f;
}